@font-face{
  font-family: oregon;
  src: url(Oregon-Fonts/Oregon.ttf);
}

@font-face{
  font-family: oregonBold;
  src: url(Oregon-Fonts/OregonBold.ttf);
}

@font-face{
  font-family: oregonBlack;
  src: url(Oregon-Fonts/OregonBlack.ttf);
}

@font-face{
  font-family: oregonExtrabold;
  src: url(Oregon-Fonts/OregonExtrabold.ttf);
}


@font-face{
  font-family: josefin;
  src: url(Josefin-Fonts/JosefinSansLight.ttf);
}

@font-face{
  font-family: josefinB;
  src: url(Josefin-Fonts/JosefinSansBold.ttf);
}

@font-face{
  font-family: josefinSB;
  src: url(Josefin-Fonts/JosefinSansSemiBold.ttf);
}


@font-face{
  font-family: magnolia;
  src: url(Magnolia/Magnolia.otf);
}


@font-face{
  font-family: jersey;
  src: url(Jersey/Jersey.ttf);
}




.jersey{
  font-family: jersey;
}


.magnolia{
  font-family: magnolia;
}

.josefin{
  font-family: josefin;
}
.josefinB{
  font-family: josefinB;
}
.josefinSB{
  font-family: josefinSB;
}

.oregon{
  font-family: oregon;
}
.oregonB{
  font-family: oregonBold;
}
.oregonBL{
  font-family: oregonBlack;
}
.oregonEB{
  font-family: oregonExtrabold;
}